In [1]:
"khushi"

'khushi'

In [ ]:
"khushi"

In [1]:
print("khushi")

khushi

# operators

In [2]:
x=10
y=3

In [3]:
x+y

13

In [4]:
x-y

7

In [5]:
x*y

30

In [6]:
x/y

3.3333333333333335

In [7]:
x//y

3

In [8]:
x%y

1

In [9]:
x**y

1000

In [10]:
x+=6

In [11]:
print(x)

16

In [12]:
x>10

True

In [13]:

y>9796

False

In [14]:
'apple'=='Apple'

False

In [15]:
x and y

3

In [16]:
x>5 and x<100

True

In [17]:
y>2 and y>9

False

In [18]:
x>5 or y<10

True

In [19]:
not x>100

True

Instance operator

In [20]:
x is y

False

In [21]:
x is not y

True

Membership operator

In [23]:
a=[1,2,3,7,11]

In [24]:
[2] in a

False

In [25]:
[11] in a

False

In [26]:
11 in a

True

### formatted

# string and message

In [27]:
l=10.5
b=6.10
area=l*b

In [28]:
print("l*b",area)

l*b 64.05

In [29]:
print("l*b=",area)

l*b= 64.05

In [30]:
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [31]:
print(f"{l}*{b}={area}")

10.5*6.1=64.05

In [32]:
print(f"{l}*{b}={area:.1F}")

10.5*6.1=64.0

In [1]:
veg=['potato','tomato','onion','cabbage','carrot']
prices=[35,80,30,15,30]

In [2]:
#non pythonic way
for i in range(len(veg)):
    print(f'{veg[i]}--------{prices[i]}')

potato--------35
tomato--------80
onion--------30
cabbage--------15
carrot--------30

In [3]:
#pyhtonic way
for v,p in zip(veg, prices):
    print(f'{v}--------{p}')

potato--------35
tomato--------80
onion--------30
cabbage--------15
carrot--------30

In [4]:
#wap tp print the following lists using zip
#-list1 contains movie title
#-list2 contain movie rating
#-list3 contains movie year
#-list4 contains movie director
list1=['Forrest Gump','Inception','Spirited Away','Parasite']
list2=[8.8,8.7,8.5,8.5]
list3=[1994,2010,2001,2019]
list4=['Robert Zemeckis','Christopher Nolan','Hayao Miyazaki','Bong Joon-Ho']

In [5]:
for l1,l2,l3,l4 in zip(list1,list2,list3,list4):
    print(f'{l1},{l2},{l3},{l4}')

Forrest Gump,8.8,1994,Robert Zemeckis
Inception,8.7,2010,Christopher Nolan
Spirited Away,8.5,2001,Hayao Miyazaki
Parasite,8.5,2019,Bong Joon-Ho

In [8]:
for i in range(10):
    for i in range(10):
        print(i, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

BREAK AND CONTINUE

In [13]:
X=[2,3,4,53,0,65,99,59,0]

In [14]:
for i in X:
    if i==0:
        break
    print(i)

2
3
4
53

In [15]:
for i in X:
    if i==0:
        continue
    print(i)

2
3
4
53
65
99
59

In [21]:
for num in range(1,100):
    if num==1:
        continue
    for i in range(2,num):
        if num % i==0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [22]:
num=1234
for i in range(2,num):
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

not prime

WHILE LOOP

In [23]:
x=25
while x > 0:
    print(x)
    x-=2

25
23
21
19
17
15
13
11
9
7
5
3
1

In [2]:
total=0
while True:
    num = int(input("enter a number:"))
    if num == 0:
        break
    total += num
print(f'Total is {total}')

Total is 163

In [4]:
books = []
while True:
    name = input("Enter book name")
    if name:
        books.append(name)
    else:
        break
print("These are your books")
print(books)

These are your books
['it ends with us', 'it starts with us ', 'love hypothesis']

FIBONACCI SERIES