In [4]:
name="Khushi Mishra"
print(len(name))

13

In [5]:
for idx,char in enumerate(name):
    print(idx,char)

0 K
1 h
2 u
3 s
4 h
5 i
6
7 M
8 i
9 s
10 h
11 r
12 a

In [8]:
print(name[1:5])
print(name[-5:-2])
print(name[:])

hush
ish
Khushi Mishra

In [10]:
# all the even characters of string
print(name[::2])

Kuh iha

In [11]:
print(name[1::2])

hsiMsr

In [12]:
# Reversing the string
print(name[::-1])

arhsiM ihsuhK

In [14]:
print(name[::-2])

ahi huK

In [15]:
print(name[2:-2])

ushi Mish

In [18]:
chr(25)

'\x19'

In [20]:
print(chr(2509))

‡ßç

In [24]:
# ord() converts a char to integer
print(ord('K'))

75

In [29]:
a='Bangtan'
b='Sonyeondan'
print(a+b)

BangtanSonyeondan

In [31]:
#adding space between string
msg=a+' '+' '+b
print(msg)

Bangtan  Sonyeondan

In [33]:
x='BTS '
print(x*100)

BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS BTS

In [37]:
print('*'*25)
print("BTS ".center(25))
print('*'*25)

*************************
           BTS
*************************

PATTERN PRINTING

In [39]:
for i in range(1,6):
    print(i*' * ')

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [42]:
for i in range(6,1,-1):
    print(i*' * ')

 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *

In [53]:
for i in range(1,15,2):
    print((i * ' BTS ').center(65))

                               BTS
                          BTS  BTS  BTS
                     BTS  BTS  BTS  BTS  BTS
                BTS  BTS  BTS  BTS  BTS  BTS  BTS
           BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS
      BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS
 BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS  BTS

In [57]:
for i in range(1,15,2):
    print((i * ' * ').center(45,'_'))

_____________________ * _____________________
__________________ *  *  * __________________
_______________ *  *  *  *  * _______________
____________ *  *  *  *  *  *  * ____________
_________ *  *  *  *  *  *  *  *  * _________
______ *  *  *  *  *  *  *  *  *  *  * ______
___ *  *  *  *  *  *  *  *  *  *  *  *  * ___

In [71]:
for i in range(1,18,5):
    print((i*'*').center(70,' '))
    print((i*'000').center(70,' '))

                                  *
                                 000
                                ******
                          000000000000000000
                             ***********
                  000000000000000000000000000000000
                           ****************
           000000000000000000000000000000000000000000000000

In [1]:
for i in range(1,15,2):
    if i==1 or i==5 or i==9 or i==13:
        print(('*'*i).center(70,' '))
    else:
        print(('0'*i).center(70,' '))

                                  *
                                 000
                                *****
                               0000000
                              *********
                             00000000000
                            *************