In [2]:

emp_dict={
    'fname':'Amar',
    'lname':'deep',
    'dept':'finance',
    'age':31,
    'salary':10000,
    'bonus':30000,
    'is_manager':True,
    'is_executive':False,
    'comapny':'Acme'}

In [2]:
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'comapny': 'Acme'}

In [5]:
weather_data={
    'date':18-11-2022,
    'details':{
        'humidity':80,
        'wind':10,
        'pressure':30,
        'aqi':120,
    },
    'city':'Lucknow',
    'type':'sunshine',
    'icon':'🌞'
}

In [6]:
print(weather_data)

{'date': -2015, 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'city': 'Lucknow', 'type': 'sunshine', 'icon': '🌞'}

In [10]:
list(weather_data.keys())

['date', 'details', 'city', 'type', 'icon']

In [8]:
weather_data.values()

dict_values([-2015, {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'Lucknow', 'sunshine', '🌞'])

In [9]:
emp_dict.keys()

dict_keys(['fname', 'lname', 'dept', 'age', 'salary', 'bonus', 'is_manager', 'is_executive', 'comapny'])

In [14]:
weather_data['details']     #key error in case of absence of the key value

{'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}

In [15]:
weather_data.get('city')

'Lucknow'

In [16]:
weather_data.get('city','not found')

'Lucknow'

In [17]:
weather_data.get('location','not found')

'not found'

In [19]:
#looping over a dictionary
for k in emp_dict: #loop on dictionary only gives keys
    print(k)

fname
lname
dept
age
salary
bonus
is_manager
is_executive
comapny

In [20]:
for k in emp_dict: # for accessing values also with loop
    print(k,'=>',emp_dict[k])

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
comapny => Acme

In [22]:
#looping over a dictionary using items() 🐸
for k,v in emp_dict.items():
    print(k,'=>',v)

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
comapny => Acme

In [24]:
# updating an entry in dictionary
weather_data['temp']=35

In [25]:
weather_data

{'date': -2015,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'Lucknow',
 'type': 'sunshine',
 'icon': '🌞',
 'temp': 35}

In [5]:
#adding data
emp_dict['designation']='Asst A'
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'comapny': 'Acme', 'designation': 'Asst A'}

In [6]:
#updating  data (changing value of existing key)
emp_dict['designation']='Section Manager'

emp_dict['salary']=30000
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 30000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'comapny': 'Acme', 'designation': 'Section Manager'}

In [9]:
emp_dict.pop('is_executive') #removes an entry

KeyError: 'is_executive'

In [8]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_manager': True,
 'comapny': 'Acme',
 'designation': 'Section Manager'}

In [11]:
reports={
    '001':{
        'name':'Amar',
        'subjects':{'English':80,'Maths':90,'Science':95}
    },
    '002':{
        'name':'Vijay',
        'subjects':{'English':70,'Maths':60,'Science':85}
    },
    '003':{
        'name':'Raj',
        'subjects':{'English':60,'Maths':50,'Science':45}
    }
}

In [13]:
reports

{'001': {'name': 'Amar',
  'subjects': {'English': 80, 'Maths': 90, 'Science': 95}},
 '002': {'name': 'Vijay',
  'subjects': {'English': 70, 'Maths': 60, 'Science': 85}},
 '003': {'name': 'Raj',
  'subjects': {'English': 60, 'Maths': 50, 'Science': 45}}}

In [22]:
for roll,data in reports.items():
    print("Roll no.",roll)
    for key, val in data.items():
        if isinstance(val,dict):    #checks if the value is dictionary or not
            for sub, marks in val.items():
                print(sub,marks)
        else:
                print(key,val)
        print('--'*10)

Roll no. 001
name Amar
--------------------
English 80
Maths 90
Science 95
--------------------
Roll no. 002
name Vijay
--------------------
English 70
Maths 60
Science 85
--------------------
Roll no. 003
name Raj
--------------------
English 60
Maths 50
Science 45
--------------------

In [30]:
# for marks total
for roll,data in reports.items():
    print("Roll no.",roll)
    for key, val in data.items():
        if isinstance(val,dict):    #checks if the value is dictionary or not
            total=0
            for sub, marks in val.items():
                print(sub,marks)
                total=total+marks
            print(f'Total:{total}/300')
        else:
                print(key,val)
        print('--'*10)

Roll no. 001
name Amar
--------------------
English 80
Maths 90
Science 95
Total:265/300
--------------------
Roll no. 002
name Vijay
--------------------
English 70
Maths 60
Science 85
Total:215/300
--------------------
Roll no. 003
name Raj
--------------------
English 60
Maths 50
Science 45
Total:155/300
--------------------

In [33]:
# for average marks calculation
for roll,data in reports.items():
    print("Roll no.",roll)
    for key, val in data.items():
        if isinstance(val,dict):    #checks if the value is dictionary or not
            total=0
            for sub, marks in val.items():
                print(sub,marks)
                total=total+marks
                per=total/3
            print(f'Total:{total}/300')
            print(f'per:{total/300*100:.2f}%')
            
        else:
                print(key,val)
        print('--'*10)

Roll no. 001
name Amar
--------------------
English 80
Maths 90
Science 95
Total:265/300
per:88.33%
--------------------
Roll no. 002
name Vijay
--------------------
English 70
Maths 60
Science 85
Total:215/300
per:71.67%
--------------------
Roll no. 003
name Raj
--------------------
English 60
Maths 50
Science 45
Total:155/300
per:51.67%
--------------------

FILE HANDLING
-opening a file
-reading a file
-writing a file
-appending a file

In [37]:
f=open('ex.py')
print(f)
print(f.read())

<_io.TextIOWrapper name='ex.py' mode='r' encoding='cp1252'>
print("Hello World")

In [41]:
f=open(r'C:\Users\Dell\OneDrive\Documents\bla.txt')
print(f.read())
content=f.read()
print(f'{len(content)} characters')

blah blah blah
0 characters

In [44]:
# better way
data='Hi everyone, this is a sample file.'
with open('mydata.txt','w') as file:
    file.write(data)

In [45]:
#not to be used as if we dont close the file the data will not be saved
#file=open('mydata.txt','w')
#file.write(data)
#file.close()

In [47]:
# appending data in a file
data='\nThis is the new data that is going to be written'
with open('mydata.txt','a') as file:
    file.write(data)

In [48]:
file='bio.txt'
content=''
while True:
    line=input('Enter a line (or q to quit):')
    if line == 'q':
        break
    content +=line+'\n'
with open(file,'w') as f:
    f.write(content)
    print(f'File {file} saved')

File bio.txt saved